.bottom-banner {
	&__wrapper {
		display: flex;
		justify-content: space-between;

		& > .banner-item {
			flex-basis: 32.5%;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			
			&:hover {
				opacity: 0.9;
			}
	
			& > img {
				width: 100%;
				border-radius: 10px;
			}
		}
	}
}