.home-banner__wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
	border-radius: 2px;

	.CarouselItem > div > div {
		width: 820px;

		img {
			width: 100%;
			height: 100%;
			border-radius: 3px;
		}
	}
}